@inherits LayoutComponentBase
@inject NavigationManager Navigation

@* Required *@
<MudThemeProvider @rendermode="InteractiveServer" />
<MudPopoverProvider @rendermode="InteractiveServer" />
<MudDialogProvider MaxWidth="MaxWidth.Large" @rendermode="InteractiveServer" />

@* Needed for snackbars *@
<MudSnackbarProvider @rendermode="InteractiveServer" />

<div class="app-container">
    <div class="fixed-background"></div>
    <div class="content-overlay">
        <NavMenu />
        <MudLayout>
            <MudMainContent Class="main-content">
                @Body
            </MudMainContent>
        </MudLayout>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
