.button1 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    margin: 0 8px;
    font-size: 1.1rem;
}

.button1:before {
    content: "";
    background: linear-gradient(
            45deg,
            #6900ff,    
            #8a00ff,   
            #0055ff,    
            #0088ff,    
            #00ffaa,    
            #00ff55,    
            #6900ff     
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button1 8s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button1 {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 400% 0;
    }
}

.button1:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1a1a2e;  
    left: 0;
    top: 0;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.button1:hover:after {
    background: #16213e;  
}

.button1:hover {
    color: #00ffaa;      
    text-shadow: 0 0 5px #00ffaa;
}

.button2 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 0, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    margin: 0 8px;
    font-size: 1.1rem;
}

.button2:before {
    content: "";
    background: linear-gradient(
            45deg,
            #6900ff,
            #8a00ff,
            #0055ff,
            #0088ff,
            #00ffaa,
            #00ff55,
            #6900ff
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button2 8s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button2 {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 400% 0;
    }
}

.button2:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1a1a2e;
    left: 0;
    top: 0;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.button2:hover:after {
    background: #16213e;
}

.button2:hover {
    color: #ff00ff;
    text-shadow: 0 0 5px #ff00ff;
}