@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthProvider
@rendermode InteractiveServer

<MudAppBar Elevation="4" Style="height: 70px; 
                                background: linear-gradient(90deg, #0f0524 0%, #1a0a38 50%, #0f0524 100%);
                                border-bottom: 2px solid #ff00ff;
                                box-shadow: 0 0 15px #ff00ff, 0 0 30px #00ffff;">
    <a href="/" class="me-4" style="text-decoration: none; color: inherit">
        <MudText Typo="Typo.h6">SHOWTIME</MudText>
    </a>

    <MudSpacer />

    <MudStack Row="true" Spacing="5" AlignItems="AlignItems.Center" Class="me-auto">
        <a href="/" class="button1">Home</a>
        
        <AuthorizeView Roles="Admin">
            <a href="/artists" class="button1">Artists</a>
        </AuthorizeView>
        

        <a href="/festivals" class="button1">Festivals</a>
        
        <AuthorizeView Roles="User">
            <a href="/user-bookings" class="button1">Bookings</a>
        </AuthorizeView>
    
        <AuthorizeView>
            <Authorized>
                <a href="/logout" class="button2 logout" @onclick="Logout">Logout</a>
            </Authorized>
            <NotAuthorized>
                <a href="/login" class="button2">Login</a>
            </NotAuthorized>
        </AuthorizeView>
        
    </MudStack>
</MudAppBar>

<MudSpacer />

@code{

    public void Logout()
    {
        Navigation.NavigateTo("/logout",true);
    }

}